body{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color:#04bf87;
  --primary-font: "Comic Neue",
  cursive;
  --secondary-font:"Syne Mono",
  cursive;
}
.icons{
  padding: 0 1rem;

}
@media screen and (max-width: 960px) {
  .icons{
    padding-right: 0rem;
    margin:0.5rem 0;
  }
}